body {
    margin: 0px auto;
    min-width: 900px;
  
    font-size: 16px;
    line-height: 22px;
    color: #283136; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;   
 }

h1{
    margin-top: 0px;

    font-size: 40px;
    line-height: auto;
    color: #283136; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;  
 }

 h2 {
    margin-top: 0px; 

    font-size: 18px;
    line-height: 30px;
    color: #000; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;  
    text-transform: uppercase;
 }

h3 {
    font-size: 16px;
    font-family:"Roboto", "Arial", sans-serif;
    font-weight: 300; 
    line-height: 22px;
    text-transform: uppercase; 
}

b {
    font-size: 36px;
    font-family:"Roboto", "Arial", sans-serif;
    font-weight: 500;
    line-height: 36px;
}

.container {
    width: 900px;
    margin: 0px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 3px;
  
    font-size: 12px;
    font-family:"Roboto", "Arial", sans-serif;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background-color: #fb565a;
    border: none;
    outline: none;
    cursor: pointer;
}

.pink {
    background-color: #fb565a; 
}

.pink:hover {
    background-color: #d6494d; 
}

.pink:active {
    background-color: #b63538;
    box-shadow: inset 0 2px 0 0 #9b2d30; 
}

.green {
    background-color: #00ca74;
}

.green:hover {
    background-color: #01a25e;
}

.green:active {
    background-color:#009053;
    box-shadow: inset 0 2px 0 0 #007b47;
}

.yellow {
    background-color: #efc84a;
}

.yellow:hover {
    background-color:#d6ae2c;
}

.yellow:active {
    background-color:#c09b24;
    box-shadow:inset 0 2px 0 0 #a3841f;
}

/* HEADER */
.main-header {
    margin: 0px auto;
    background-color: #eee;
}

.logo {
    float: left;
    width: 139px;
}
.a-logo {
    display: inline-block;
    float: left; 
    width: 139px;
    height: 56px;
    background: url("../img/logo.png") no-repeat 50%;
}
.header-top {
    padding-top: 25px;
}

.main-menu {
    float: left;
    width: 600px;   
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.main-menu li {
    display: inline-block;
    padding: 10px 21px;
    margin-top: 20px;
}

.main-menu a {
    display: block;

    text-decoration: none;
    color: #070707;
    font-size: 14px;
    line-height: 30px;
    font-family: "Roboto", "Arial", sans-serif; 
    font-weight: 500;
    text-transform: uppercase; 
}

.main-menu a:hover {
    color: #fb565a;
}

.main-menu a:active {
    color: #8f8f8f;
}

.main-menu .active {
    border-bottom: 2px solid #fb565a;
}

.user-block {
    float: right;
    width: 113px;
    margin-top: 18px;
}

.basket {
    position: relative;

    display: inline-block;
    padding: 10px 20px;
    padding-left: 25px;

    text-decoration: none;
    color: #070707;
    font-size: 14px;
    line-height: 30px;
    font-family: "Roboto", "Arial", sans-serif; 
    font-weight: 500;
    text-transform: uppercase;
}

.basket::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -1px;
    
    width: 15px;
    height: 15px;

    background: #eee url("../img/sprite.png") 0px 0px;
    opacity: 1;
}

.basket:hover {
    color: #fb565a;
}

.basket:hover::before{
    background: #eee url("../img/sprite.png") 0px 216px;
}

.basket:active {
    color: #8f8f8f;
}
.basket:active::before{
    background: #eee url("../img/sprite.png") 0px 0px;
    opacity: 0.3;
}

.basket .active {
    border-bottom: 2px solid #fb565a;
}
.basket::before .active {
    border-bottom: 2px solid #fb565a;
}
.welcome-block {
    margin-bottom: 0px;
}

.welcome {
    display: inline-block;
    text-align: center;
    margin: 53px 108px 80px; 
    
    font-size: 40px;
    line-height: 50px;
    color: black; 
    font-family: "Roboto", "Arial", sans-serif; 
    font-weight: 500;
    text-transform: uppercase; 
    letter-spacing: 0.2px;
}

/*INDEX PROMO*/
.slider {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.slide {
    background-repeat: no-repeat;
    background-position: 540px 41px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 80px;
    left: 428px;
    margin-left: -100px;
    width: 200px;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;

    vertical-align: top;

    background: #fff;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slide-text {
    width: 500px;
    padding: 63px 0px 80px;
}

.slide p {
    color: #283136;
}

.slide .btn {
    display: block;
    width: 220px;
    margin-top: 28px;
    padding: 10px 10px;

    font-weight: 300;
    text-align: center;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-1.png");
}

.slide:nth-child(2) {
    background-image: url("../img/slider-2.png");
}

.slide:nth-child(3) {
    background-image: url("../img/slider-3.png");
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

/*INDEX*/
/*index features*/
.features {
    padding: 80px 0;
    border-bottom: 2px solid #eee;
}

.feature {
    float: left;
    width: 240px;
    margin-right: 79px;
    min-height: 300px;
}

.feature h2 {
    margin-top: 17px;
}

.feature p {
    font-size: 15px;
    line-height: 22px;
    color: #283136; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;   
}

.feature .btn {
    margin-top: 10px;
}

.feature:last-child {
    margin-right: 0px;
}

.feature .btn-apps {
    background: #00ca74;
}

.feature .btn-pres {
    background: #efc84a;
}

/*index about*/
.about {
    padding-top: 58px;
    padding-bottom: 47px;
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 600px;
    padding-top: 11px;
}

.column1 h3,
.column2 h3 {
    margin-bottom: 21px;
}

.column1 b {
    letter-spacing: -0.5px;
}
.column1 p {
    margin-top: 18px;
    margin-bottom: 45px;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500; 
}

.about li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.column2 {
    float: right;
    width: 240px;
    padding-right: 20px;
}

.column2 img {
    margin-bottom: 50px;
}

/*index partners*/
.partners {
    padding-top: 48px;
    padding-bottom: 33px; 
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.small-logo {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 295px;
    height: 83px;
    font-size: 0px;
}

.small-logo:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.small-logo img {
    vertical-align: middle;
    opacity: 0.3;
}

.small-logo img:hover,
.small-logo img:active {
    opacity: 1;
}

.small-logo:nth-child(3n) {
    margin-right: 0px;
}

/*CATALOG*/
/*catalog search*/
.search {
    float: left;
    width: 240px;
    margin:75px 70px 0px 0px;
}

form {
    width: 240px;
}

    /*бегунок */
.range-filter {
    width:240px;
}

.range-controls {
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f1f1f1;
    border-radius:5px;
    overflow:hidden;
}

.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}

.bar {
    height:2px;
    background:#00ca74;
}

.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;

    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
} 

.max-toggle {
    left:170px;
}

.min-toggle {
    left:30px;
}

.price-controls {
    margin-bottom: 43px;
}

.min-price, .max-price {
    width: 78px;
    height: 36px;

    border: none;
    border-radius: 3px;
    background: #f1f1f1;
    color: #000;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
}

.min-price {
    margin-right: 14px;
}

    /*чек-боксы, радио и кнопка*/
.form-group {
    position: relative;
    margin-bottom: 18px;
}

.form-group input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.form-group label {
    padding-left: 35px;
}

.group-1 {
    margin-bottom: 43px;
}

.group-1 span::before,
.group-1 span::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

.group-1 span:hover::before,
.group-1 span:hover::after {
    opacity: 1;
}

.group-1 span:disabled::before,
.group-1 span:disabled::after {
    opacity: 0.3;
}

.group-1 span::before {
    top: -4px;
    left: -1px;
    width: 20px;
    height: 20px;
    border: 3px solid #b5b5b5;
}

.group-1 span::after {
    display: none;
    top: 4px;
    left: 7px;
    width: 10px;
    height: 10px;
    background-color: #b5b5b5;
}

.group-1 input[type="radio"]:checked ~ span::after {
    display: block;
    transition-property: transform;
    transition-duration: 0.3s;
}

.group-2 {
    margin-bottom: 58px;
}

.group-2 label::before {
    content: "";
    position: absolute; 
    border-radius: 5px;
    cursor: pointer;
    top: -3px;
    left: -2px;
    width: 23px;
    height: 23px;
    box-shadow: inset 0px 0px 0px 2px #c1c1c1;
    opacity: 0.8;
}

.group-2 input[type="checkbox"]:checked ~ label::before {
    background: url("../img/sprite.png") no-repeat 0px -90px;
    width: 26px;
    height: 26px;
    box-shadow: none;
    opacity: 0.8;
}

.group-2 label:hover::before,
.group-2 input[type="checkbox"]:checked ~ label:hover::before {
    opacity: 1;
}

.group-2 label:disabled::before,
.group-2 input[type="checkbox"]:checked ~ label:disabled::before {
    opacity: 0.3;
}

.btn-form {
    width: 155px;
    background-color: #f1f1f1;
    color: #000;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.btn-form:hover {
    background-color: #e5e5e5;
}

.btn-form:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 2px 0 0 #b5b5b5;
}

/*catalog gallery*/
.gallery {
    float: right;
    width: 582px;
}

    /*настройки поиска*/
.sorting {
    position: relative;
    margin-top: 68px;
    margin-bottom: 24px;

    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting p{
    display: inline-block;
    margin-right: 14px;
}

.sorting a {
    display: inline-block;
    margin: 0px 22px;

    color: #dbdbdb;
    text-decoration: none;
    border-bottom: 2px dotted #00ca74;
}

.sorting a:hover {
    color: #000;
    border-bottom:2px solid #00ca74;
}

.sorting a:active {
    color: #000;
    border-bottom: none;
}

.sorting .pointers {
    float: right;
    margin-right: 17px;
    margin-top: 13px;
}

.sorting .arrow {
    font-size: 0px;
    border-bottom: none;
    margin: 3px;
}

.arrow::before {
    content: "";
    display: inline-block;

    border: 10px solid #c1c1c1;
    border-left-width: 5px;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.bottom::before {
    border-bottom-width: 0px; 
}

.up::before {
    border-top-width: 0px;
}

.pointers a:hover {
    border-bottom:none;
}

.bottom:active::before {
    border-top-color: #000;
}

.up:active::before {
    border-bottom-color: #000;
}

.active::before {
    border-top-color: #00ca74;
}


    /*страницы товара*/
.articles {
    font-size: 0px;
}

.product {
    position: relative;
    display: inline-block;
    margin-bottom: 85px;
    padding-top: 14px;
    font-size: 0px;
}

.product::before {
    position: absolute;
    content: "";
    top: -16px;
    left: 0px;
    width: 240px;
    height: 30px;
    background: url("../img/hat-sprite.png") 0 0;
    border-radius: 5px 5px 0px 0px; 
}
.product:hover::before {
    background: url("../img/hat-sprite.png") 0 -40px;
}

.description {
    display: none;
    box-sizing: border-box;
    position: absolute;
    content: "";
    padding: 30px 20px 30px;
    top: 34px;
    left: 20px;
    width: 200px;
    height: 200px;
    background-color: #fff;
    text-align: center;
}

.description .name {
    margin-top: 5px;
    margin-bottom: 14px;

    font-size: 18px;
    line-height: 18px;
    color: #000; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;  
    text-transform: uppercase; 
    text-align: center;
}

.description p {
    font-size: 14px;
    line-height: 18px;
    color: #283136; 
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;  
    text-align: center;
}

.description a {
    position: absolute;
    top: 132px;
    left: 30px;
    padding: 10px 0px;
    font-size: 17px;
    width: 140px;
}

.product:hover .description {
    display: block;
}

.active {
    display: block;
}

.description .btn:hover {
    background-color: #d6494d; 
}

.description .btn:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}

.product:nth-child(odd) { 
    margin-right: 80px;
}

.product img {
    width: 240px;
}

    /*переключатель страниц*/
.paginator {
    margin-top: -16px;
    margin-bottom: -8px;
}

.paginator a{
    display: inline-block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin-right: 6px;
    padding-top: 9px;

    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #f1f1f1;
    background: #f1f1f1;
    color: black;  
    font-size: 12px;
    line-height: 18px;
}

.paginator  a:hover {
    background: #e5e5e5;
    border-color: #e5e5e5;
}

.paginator  a:active {
    background: #d5d5d5;
    border-color:  #d5d5d5;
    border-top-color: #b5b5b5;
}

.paginator .active {
   background: inherit; 
}

.paginator a:last-child {
    width: 140px;
}

/*FOOTER*/
.main-footer {
    padding-top: 84px;
}

.footer-top {
    position: relative;
    height: 416px;
    background: #fff url("../img/map.png") no-repeat;
    background-size: cover;
}

.contacts {
    position: absolute;
    top: -20px;
    box-sizing: border-box;
    float: left;
    width: 250px;
    margin-top: 108px;
    padding: 13px 20px 0px;
    background: #fff;
}

.contacts h3 {
    line-height: 30px;
    font-weight: 700;
    margin-top: 12px;
}

.contacts p {
    line-height: 20px;
    color: #666;
    margin-top: 12px;
}

.cont-btn {
    margin-top: 17px;
    margin-left: 2px;
    margin-bottom: 26px;
    width: 124px;
    text-align: center;
}

.footer-bottom {
    padding: 75px 0px;
}

.footer-social {
    float:left;
    width: 300px;
    display: block;
}

.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right:  26px;

    border-radius: 50%;
    font-size: 0px;
    background: #e1e1e1 url("../img/sprite.png") no-repeat;
}

.social-btn:hover {
    background-color: #fb565a;
}

.social-btn:active {
    background-color: #d6494d;
    border-top: 2px solid #b63e42;
}

.social-btn-vk {
    background-position: 14px -120px;
}

.social-btn-fb {
    background-position: 24px -221px;
}

.social-btn-inst {
    background-position: 19px -169px;
}

.social-btn:last-child {
    margin-right: 0px;
}

.footer-text {
    float: right; 
    width: 550px;
    margin-right: 31px;
    margin-bottom: 70px;
}

.footer-text p {
    line-height: 10px;
    font-weight: 700;
    color: #283136;
}

form.popap {
    position: absolute;
    top: 1600px;
    left: 50%;
    margin-left: -315px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 2px 40px 3px grey;
    width: 630px;
    height: 420px;
    background: #fff;
    padding: 55px 90px 50px 80px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0px;
    width: 45px;
    height: 45px;
    background: url("../img/close.png") no-repeat 50%;
    border: none;
    cursor: pointer;
}

.popap input[type="text"],
.popap input[type="email"] {
    width: 215px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    background-color: #fff;
}

.popap textarea {
    width: 455px;
    height: 110px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    background-color: #fff;
}

.popap .label-textarea {
    padding-top: 20px;
}

.popap .btn {
    margin-top: 50px;
    width: 100%;
}